asgiref
certifi
charset-normalizer
dj-database-url
Django
django-cors-headers
django-filter
djangorestframework
djangorestframework-simplejwt
drf-yasg
idna
inflection
packaging
Pillow
psycopg2
PyJWT
python-dotenv
pytz
PyYAML
requests
sqlparse
typing_extensions
tzdata
uritemplate
urllib3
whitenoise
