asgiref
boto3
botocore
certifi
charset-normalizer
dj-database-url
Django
django-cors-headers
django-filter
django-storages
djangorestframework
djangorestframework-simplejwt
drf-yasg
gunicorn
idna
inflection
jmespath
packaging
Pillow
psycopg2
PyJWT
python-dateutil
python-dotenv
pytz
PyYAML
requests
reportlab
s3transfer
six
sqlparse
typing_extensions
tzdata
uritemplate
urllib3
whitenoise
